body {
  background: DarkGoldenRod;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: DarkMagenta;
  text-align: center;
}
.assign{
  display: flex;
  padding: 10px;
  margin: 10px;
  background: LightPink;
}
.assign img {
  width: 200px;
  padding: 10px;
}
a {
  text-decoration: none;
  color: #006600;
}
.assign img {
  padding: 10px;
  border: 2px solid midnightblue;
}
.assign {
  border-radius: 20px;
}
a:hover {
  text-decoration: none;
  color: salmon;
}
